<section class="objView">
    <div class="jumbotron text-center">
        <h1>Home</h1>

        <p class="lead">OG Coding Challenge</p>

    </div>

    <div class="container-fluid">
        <div class="col-sm-12">
            <legend>Exercise Details</legend>
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">
                    Create a web app that contains a search box to retrieve information about people profiles matching their user names.
                </li>
                <li class="list-group-item">
                    Once the search is triggered show the user info or an error message if the search was not successful.
                </li>
                <li class="list-group-item">
                    For the user profiles data use the JSON provided and AJAX to get the file.
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">
                    Create an autocomplete feature that suggest a list of users with similar username while you type on the search box.
                </li>
                <li class="list-group-item">
                    Don't use jQuery or any third party library for DOM selection/manipulation. You can use libraries for data binding.
                </li>
                <li class="list-group-item">
                    Unit tests not required, but certainly a bonus. For any need not specified use your own criteria.
                </li>
            </ul>
        </div>
        <div class="col-sm-12 text-center">
            <a class="btn btn-primary" href="/solution"><i class="fa fa-thumbs-up"></i>View Solution</a>
        </div>
    </div>

</section>
