<section class="objView" ng-init="initApp()">

    <div class="jumbotron text-center">
        <h1>Solution</h1>
    </div>

    <div class="container-fluid">

        <form role="form" data-ng-submit="searchData()">
            <div class="col-sm-12 form-group">

                <div class="input-group">
                    <label class="sr-only" for="txtSearch">Search</label>
                    <input
                        type="text"
                        class="form-control"
                        id="txtSearch"
                        data-ng-model="strTerm"
                        data-ng-change="onTextChange()"
                        data-ng-focus="onTextChange()"
                        data-ng-blur="onTextBlur()"
                        placeholder="Search by username..."
                        autocomplete="off"
                    >
                    <div class="list-group" data-ng-if="showTypeAhead" id="objTypeAhead">
                        <a
                            data-ng-repeat="user in arrUsers"
                            data-ng-if="user.username.indexOf(strTerm) > -1"
                            class="list-group-item"
                            data-ng-click="showUser(user)"
                            data-ng-bind="user.username + ' (' + user.first_name + ' ' + user.last_name + ')'"
                        ></a>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i> Search</button>
                    </span>
                </div>

            </div>
        </form>


        <div class="col-sm-12 alert-danger objDialog" data-ng-if="objError.message !== 'ok'">
            <legend><i class="fa fa-exclamation-triangle"></i> Error</legend>
            <h3><span data-ng-bind="objError.message"></span></h3>
        </div>


        <div class="col-sm-12" data-ng-if="arrSearchResult.length > 0">
            <legend><i class="fa fa-search"></i> Search Result</legend>
            <uib-pagination
                class="pagination-sm pull-right"
                total-items="intTotalItems"
                items-per-page="intItemsPerPage"
                ng-model="$parent.intCurrentPage"
                ng-change="setPagination()"
            ></uib-pagination>
        </div>
        <div class="col-sm-12 list-group" data-ng-if="arrSearchResult.length > 0">
            <a
                data-ng-repeat="user in arrSearchResult.slice(((intCurrentPage-1)*intItemsPerPage), ((intCurrentPage)*intItemsPerPage))"
                class="list-group-item"
                data-ng-click="showUser(user)"
                data-ng-bind="user.username + ' (' + user.first_name + ' ' + user.last_name + ')'"
            ></a>
        </div>


        <div class="col-sm-12 objDialog" data-ng-if="objActiveUser.username">
            <legend><i class="fa fa-user"></i> User</legend>
            <h3><span data-ng-bind="objActiveUser.first_name + ' ' + objActiveUser.last_name"></span><span data-ng-bind="' ' + objActiveUser.title" data-ng-if="objActiveUser.title"></span><span data-ng-bind="' (' + objActiveUser.username + ')'"></span></h3>
            <p data-ng-if="objActiveUser.email"><a class="width100" href="mailto:{{objActiveUser.email}}"><i class="fa fa-envelope-o"></i><span data-ng-bind="objActiveUser.email"></span></a></p>
            <p data-ng-if="objActiveUser.blog"><a class="width100" href="{{objActiveUser.blog}}" target="_blank"><i class="fa fa-rss"></i><span data-ng-bind="objActiveUser.blog.split('/')[2]"></span></a></p>
            <p data-ng-if="objActiveUser.country || objActiveUser.city"><a class="width100" href="https://maps.google.com/?q={{objActiveUser.city}}%20{{objActiveUser.country}}" target="_blank"><i class="fa fa-map-marker"></i><span data-ng-if="objActiveUser.city" data-ng-bind="objActiveUser.city"></span><span data-ng-if="objActiveUser.country && objActiveUser.city">, </span><span data-ng-if="objActiveUser.country" data-ng-bind="objActiveUser.country"></span></a></p>
            <p data-ng-if="objActiveUser.fav_color"><span class="objColorSample" data-ng-style="{'background-color':objActiveUser.fav_color}"></span><span data-ng-bind="objActiveUser.fav_color"></span></p>
        </div>

    </div>

</section>