.form-control:focus {
    outline-style: none;
    border-color: #DDDDDD;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer{
    position: fixed;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    bottom: 0;
    border-top: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}

#objTypeAhead{
    position: absolute;
    margin-top: 36px;
    width: 100%;
    background-color: #EEEEEE;
    box-shadow: 0 2px 2px #999999;
    z-index: 10000;
    max-height: 200px;
    overflow-y: auto;
}

a{
    cursor: pointer;
}

.objDialog{
    border-radius: 6px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 2px 2px #999999;
}

.objColorSample{
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    margin: 0 4px 0 4px;
    border: 1px solid #000000;
}

a .fa{
    width: 22px;
    text-align: center;
    margin: 0 auto 0 auto;
}

a.width100{
    display: block;
    width: 100%;
}

.navbar-brand img{
    max-height: 30px;
    margin-top: -4px;
}

.objView{
    margin-bottom: 100px;
}

.navbar-header .navbar-brand img{
    margin-right: 8px;
}